.blackBloc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100%;
    /* width: 1440px; */
    height: 59px;
    margin: 0;
}

#log-out {
    display: block;
}

#log-in {
    display: none;
}

.mes_projets {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mode-edition {
    color: #ffffff;
    background-color: black;
    border: none;
}


.i[title*="fa-regular-icon"] {
    color: #ffffff;
    border: 1em;
    width: auto;
}


/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 630px;
    height: 688px;
    top: 405px;
    border-radius: 10px 10px 10px 10px;
    overflow: auto;
    /* Active le défilement si nécessaire */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;

}

/* #close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
} */

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;

}

#projets-modifier {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
}



.container-projets {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.flex-row-center {
    justify-content: center;
    align-items: center;
    width: auto;
    gap: 20px;
}

.ipen_modifier {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

.container-ajoutphoto {
    display: flex;
    justify-content: center;
    /* margin-left: 20px; */
}

#form-add {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: start;
    /* padding: 50px; */
    margin: 25px;
    width: 420px;
    height: 169px;

}


#form-bloc {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0 50px 0;
    width: 420px;
    height: 169px;
    border-radius: 3px;
    border: none;

}


.hr[title*="hr-bloc"] {
    border: none;
    color: #B3B3B3;
    width: 420px;
    height: 0px;
    border: 1px solid #B3B3B3;
    position: absolute;
    margin-top: 10px;

}

/* #bloc-gallery {
    display: flex;
    width: 420px;
    display: flex;
    position: column;
} */

.hr[title*="hr-bloc-gallery"] {
    color: #B3B3B3;
    width: fit-content;
    height: 0px;
    border-bottom: 1px solid #B3B3B3;
    position: absolute;
    margin-top: 10px;

}

title label {
    margin-bottom: 7px;
    line-height: 16.42px;
    font-size: 14px;
    width: 65px;
    height: 16px;
}

.title input {
    display: flex;
    justify-content: center;
    margin-top: 7px;
    /* line-height: 16.42px; */
    font-size: 14px;
    width: 65px;
    height: 16px;
}

.form-category {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    width: 418px;
    height: 51px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 7px;
}

/* .title {
        display: flex;
    justify-content: center;
    margin-top: 7px;
    /* line-height: 16.42px; */
/* font-size: 14px;
width: 65px;
height: 16px;
} */

input[type="text"] {
    /* margin-top: 10px; */
    margin-bottom: 30px;
    width: auto;
    height: 51px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: none;
    /* margin: 5px; */
}

input[type="button"] {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

}

#submit-button:disabled {
    background-color: #A7A7A7;
    cursor: not-allowed;
}

/* #submit-button {
    background-color: #1D6154;
    cursor: pointer;
  }
   */

#submit-button {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: #1D6154;
    margin: 1em auto;
    width: 180px;
    height: 36px;
    border-radius: 60px;
    width: 237px;
    cursor: pointer;
}

#ajout-photo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #E8F1F6;
    width: 420px;
    height: 169px;
    gap: 10px;
    /* min-width: 80%;
    height: auto; 
  padding: 5px; */
}

input[type="file"] {
    display: none;
    text-align: center;
    color: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    min-width: 173px;
    height: 36px;
    border-radius: 50px;

}

#poubelle {
    color: white;
    background-color: black;
    width: 17px;
    height: 17px;
    border-radius: 2px;
}

input[type="submit"] {
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    margin: 2em auto;
    width: 180px;
    height: 36px;
    justify-content: center;
    text-align: center;
    border-radius: 60px;
    width: 237px;

}

#arrow-left {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    margin-left: 20px;
    margin-top: 10px;

}

#icon-fa-regular {
    color: #B9C5CC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    width: auto;
    height: 76px;
}

#icon-image {
    font-size: 76px;
    width: auto;
    color: #B9C5CC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* font-weight: 600; */
}

/* .i[title*="icon-image"] {
    color: #B9C5CC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    width: auto;
    height: 100px;
    /* stroke-width: 10px; */
/* } */


#gallery_id {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
    gap: 20px;
    /* padding: 25px; */
    width: 420/5px;
    margin: 10px 0px 30px 0px;

}


#modal-title {
    margin-top: 20px;

}

.modal-figure {
    position: relative;
    /* border: 2px solid #00BFFF; */
    /* box-sizing: border-box; */
}

.modal-figure:hover {
    border: 2px solid #00BFFF;
    box-sizing: border-box;
}

.modal-image {
    width: 76.86px;
    height: 102.57px;
}

.trash-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
    background-color: black;
    width: 17px;
    height: 17px;
    border-radius: 2px;
    padding: 2px;
}

#touteslesphotos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 490px;
    margin: 10px 0px 40px 0px;

}


#ajout-photo-gallery {
    display: inline-flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    flex-direction: row;
    text-align: center;
    background-color: #1D6154;
    color: white;
    width: 200px;
    height: auto;
    border-radius: 30px;
    padding: 5px;
    margin-top: 20px;
    position: sticky;

}

.image-add {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: #CBD6DC;
    position: relative;
    border-radius: 30px;
    padding: 5px;
    width: 173px;
}

.image-add>input {
    z-index: 2;
    position: absolute;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* width: 173px;
    height: 36px; */
    /* border-radius: 50px; */

}

/* .image-add>label {
    width: 100px;

} */


#gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 10px 0px 40px 0px;

}