/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 630px;
    height: 670px;
    top: 405px;
    border-radius: 10px 10px 10px 10px;

    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* .flex-row-center {
    display: none;
} */

.flex-row-center {
    visibility: hidden;
}

.mode-edition {
    color: #ffffff;
    background-color: black;
    border: none;
}


.i[title*="icon-pen-to-square"] {
    border: 1em;
    width: auto;
}

.galerie_photo {
    display: none;
}

.ajout_photo {
    color: black;
    font-size: 25px;
}





/* Partie Grafikart---------------------------------------------------------------------- */
/* body {
    margin: 0;
    font-family: 'Work Sans';
    font-size: 14px;
    background: #E5E5E5;
} */

/* body,
html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

*:focus {
    color: 0 0 10px blue;
}

.modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    animation: fadeIn .3s both;

}

.modal-wrapper {
    overflow: auto;
    width: 400px;
    height: 200px;
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 20px);
    width: 600px;
    padding: 20px;
    background-color: #fff;
    animation: slideFromTop .5s both;
}

.modal[aria-hidden="true"] {
    animation-name: fadeOut;
}
.modal[aria-hidden="true"].modal-wrapper {
    animation-name: slideToBottom;
}
 
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes slideFromTop {
    from {
        transform: translateY(-50px);
    }

    to {
        transform: translateY(0px);
    }
}

@keyframes slideToBottom {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-50px);
    }
}


.flex-row-center {
    display: none;
} */


/* 
.modal-mesprojets {
    display: inline;

} */