.blackBloc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 40px;
    margin: 0;
}

.mode-edition {
    color: #ffffff;
    background-color: black;
    border: none;
}


.i[title*="fa-regular-icon"] {
    color: #ffffff;
    border: 1em;
    width: auto;
}


/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 630px;
    height: 670px;
    top: 405px;
    border-radius: 10px 10px 10px 10px;

    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;

}

/* #close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
} */

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.container-projets {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.flex-row-center {
    visibility: collapse;
    justify-content: center;
    align-items: center;
    width: auto;
    gap: 20px;
}

.ipen_modifier {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

/* #prev-btn {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;

} */

.image-add {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 15px;
    width: 50px;
    padding: 10px;

}

#form-add {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: start;
    padding: 50px;

}

.ajout-photo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    background-color: #E8F1F6;
    min-width: 80%;
    height: auto;
    padding: 5px;
}

input[type="file"] {
    display: none;


}

#arrow-left {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;

}

i[title*="icon-image"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    width: 100px;
    height: 100px;
    stroke-width: 10px;

}

/* #gallery_id {} */

.modal-image {
    width: 76.86px;
    height: auto;
}

/* #touteslesphotos {
    width: 76.86px;
    height: auto;
} */


.ajout-photo-gallery {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    background-color: #1D6154;
    color: white;
    min-width: 200px;
    border-radius: 30px;
    padding: 5px;

}

.image-add {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: #E8F1F6;
    min-width: 150px;
    height: auto;
    padding: 5px;
}






/* Partie Grafikart---------------------------------------------------------------------- */
/* body {
    margin: 0;
    font-family: 'Work Sans';
    font-size: 14px;
    background: #E5E5E5;
} */

/* body,
html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

*:focus {
    color: 0 0 10px blue;
}

.modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    animation: fadeIn .3s both;

}

.modal-wrapper {
    overflow: auto;
    width: 400px;
    height: 200px;
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 20px);
    width: 600px;
    padding: 20px;
    background-color: #fff;
    animation: slideFromTop .5s both;
}

.modal[aria-hidden="true"] {
    animation-name: fadeOut;
}
.modal[aria-hidden="true"].modal-wrapper {
    animation-name: slideToBottom;
}
 
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes slideFromTop {
    from {
        transform: translateY(-50px);
    }

    to {
        transform: translateY(0px);
    }
}

@keyframes slideToBottom {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-50px);
    }
}


.flex-row-center {
    display: none;
} */


/* 
.modal-mesprojets {
    display: inline;

} */